@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors */
  --dropbox-blue: rgb(0, 0, 238);
  --dropbox-blue-light: rgb(95, 157, 255, 0.4);
  --dropbox-text: #0061fe;

  --fw-background: #232d3d;
  --fw-text: #b4c8e1;

  --vt-background: #fad24b;
  --vt-text: #684505;

  --logo-background: #3dd3ee;
  --logo-text: #055463;

  --typo-background: #fa551e;
  --typo-text: #4e0119;

  --icon-background: #b4dc19;
  --icon-text: #175641;

  --clr-background: #ff8c19;
  --clr-text: #6d2e09;

  --img-background: #892055;
  --img-text: #ffafa5;

  --motion-background: #c8aff0;
  --motion-text: #682760;

  --img-svg-clr: #CD2F7B;

  --clr-svg-primary: #be4b0a;
  --clr-svg-secondary: #6d2e09;

  --card-background-hover: #1a1918;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-grotesk);

  /* Theme colors */
  --color-dropbox-blue: var(--dropbox-blue);
  --color-dropbox-blue-light: var(--dropbox-blue-light);
  --color-dropbox-text: var(--dropbox-text);

  --color-fw-background: var(--fw-background);
  --color-fw-text: var(--fw-text);

  --color-vt-background: var(--vt-background);
  --color-vt-text: var(--vt-text);

  --color-logo-background: var(--logo-background);
  --color-logo-text: var(--logo-text);

  --color-typo-background: var(--typo-background);
  --color-typo-text: var(--typo-text);

  --color-icon-background: var(--icon-background);
  --color-icon-text: var(--icon-text);

  --color-clr-background: var(--clr-background);
  --color-clr-text: var(--clr-text);

  --color-clr-svg-primary: var(--clr-svg-primary);
  --color-clr-svg-secondary: var(--clr-svg-secondary);

  --color-img-background: var(--img-background);
  --color-img-text: var(--img-text);

  --color-motion-background: var(--motion-background);
  --color-motion-text: var(--motion-text);

  --color-img-svg-clr: var(--img-svg-clr);

  --color-card-background-hover: var(--card-background-hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
  overflow: hidden;
}